header{
    background: url(../img/header.jpg);
    background-size: cover;
    padding: 200px 0;
    color: white;
    width: 100%;
    background-position: center center;
    
}
header img{
    width: 100%;
    height: auto;
}
header h1{
    font-family: "Open Sans";
    width: 100%;
    text-align: center;
}