header{
    background: url(../img/header.jpg);
    background-size: cover;
    padding: 100px 0;
    color: white;
    width: 100%;
    background-position: center center;
    
}

header h1{
    font-family: "Open Sans";
    width: 100%;
    text-align: center;
}

nav{
    width: 100%;
}
    nav ul{
        list-style-type: none;
        text-align: center;
        margin-top: 5px;
    }
        nav ul li{
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 15px;
        }
            nav ul li a{
                text-decoration: none;
                color: #000;
            }
            nav ul li a:hover{
                
            }